<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        {{>header}}
        <p>This site was created by harshv, uses Data from mapbox.com and weatherstack.com</p>
        {{>footer}}
    </body>
</html>